@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200&display=swap");

/* Dials */

/* :root {
	--global-diam: 80vw;
	--font-size: 1.62vw;
	--clock-diam: 0;
	--sec-diam: 0;
	--min-diam: 3.6vw;
	--hour-diam: 7.2vw;
	--day-diam: 12vw;
	--date-diam: 14vw;
	--month-diam: 17.5vw;
	--year-diam: 22vw;
} */
:root {
	--global-diam: 197.5vw;
	--font-size: 1.62vw;
	--clock-diam: 0;
	--sec-diam: 0;
	--min-diam: 3.6vw;
	--hour-diam: 7.2vw;
	--day-diam: 12vw;
	--date-diam: 14vw;
	--month-diam: 17.5vw;
	--year-diam: 22vw;
}

:root { --global-diam: 2700px; --font-size: 1.4em; --clock-diam: 0; --sec-diam: 0; --min-diam: 50px; --hour-diam: 100px; --day-diam: 140px; --date-diam: 190px; --month-diam: 235px; --year-diam: 295px; }
/* :root { --global-diam: 1092.8px; --font-size: .4em; --clock-diam: 0; --sec-diam: 0; --min-diam: 50px; --hour-diam: 100px; --day-diam: 140px; --date-diam: 190px; --month-diam: 235px; --year-diam: 295px; } */

body {
	overflow: hidden;
	background: rgb(49, 49, 49);
	font-family: "Roboto Mono", monospace;
	color: rgb(181, 182, 187, 0.1);
}

.ring_timer {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(-50%, -50%);
	width: var(--global-diam);
	height: var(--global-diam);
	font-size: var(--font-size);
}

.ring_timer::before {
	position: absolute;
	top: var(--clock-diam);
	bottom: var(--clock-diam);
	left: var(--clock-diam);
	right: var(--clock-diam);
	border: rgba(255, 255, 255, 0.15) 5px solid;
	border-radius: 50%;
	content: "";
}

.rotator,
.dial {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.dial_sec {
	top: var(--sec-diam);
	left: var(--sec-diam);
	bottom: var(--sec-diam);
	right: var(--sec-diam);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.ring_span::before {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5px;
	height: 5px;
	border-radius: 100%;
	transform: translate(-50%, -50%);
	content: '';
	background: rgb(var(--debug-color));
}

.dial_min {
	top: var(--min-diam);
	left: var(--min-diam);
	bottom: var(--min-diam);
	right: var(--min-diam);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.dial_hour {
	top: var(--hour-diam);
	left: var(--hour-diam);
	bottom: var(--hour-diam);
	right: var(--hour-diam);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.dial_day_of_week {
	top: var(--day-diam);
	left: var(--day-diam);
	bottom: var(--day-diam);
	right: var(--day-diam);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.dial_day_of_month {
	top: var(--date-diam);
	left: var(--date-diam);
	bottom: var(--date-diam);
	right: var(--date-diam);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.dial_month {
	top: var(--month-diam);
	left: var(--month-diam);
	bottom: var(--month-diam);
	right: var(--month-diam);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.dial_year {
	top: var(--year-diam);
	left: var(--year-diam);
	bottom: var(--year-diam);
	right: var(--year-diam);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.ring_span {
	position: absolute;
	display: block;
	top: 50%;
	width: 100%;
	text-align: right;
	transition: inherit;
	outline-offset: -0.29em;
}

.ring_span::after {
	position: absolute;
	right: 11px;
	top: 6px;
	bottom:5px;
	width: 10%;
	content: '';
	border: 1px solid rgb(var(--debug-color));
	border-left: none;
}

.ring_text {
	position: relative;
	width: 100%;
	padding: 0 10px;
	transition: font-size 0.2s ease;
	transition: inherit;
	outline-offset: -0.29em;

}

.activated {
	color: rgb(250, 250, 255);
	/* font-size: 1.15em; */
}

/* Sectors */

.sector {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}