$ring_diameter: 800px;
$ring_color: rgba(255, 255, 255, 0.1);
$bg_color: rgb(49, 49, 49);
$text_color: rgb(233, 234, 240);

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200&display=swap');
// position: absolute;
// top: 5px;
// right: 5px;
// bottom: 5px
// px
// ;
// left: 5px;
// border-radius: 50%;
// border: solid 35px #FFFFFF;
// content: " ";
body {
    overflow: hidden; /* Hide scrollbars */
    background: $bg_color;
    font-family: 'Roboto Mono', monospace;
    color: $text_color;
}

.ring_timer {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(5%, -50%);
    width: $ring_diameter;
    height: $ring_diameter;
    font-size: 28px;
}

.ring_timer::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: $ring_color 60px solid;
    border-radius: 50%;
    content: " ";
}

.ring_span {
    position: absolute;
    display: block;
    top: 50%;
    width: 100%;
    text-align: right;
}

.ring_text {
    position: relative;
    width: 100%;
    padding: 0 10px;
}

button {
    position: absolute;
    top: 50%;
    right: -100px;
}